body {
    font-family: Arial, sans-serif;
    background-color: #c6bde9;
    color: #333;
    padding-top: 20px ;
    }
    h1 {
    color: #310536;
    text-align: center;
    padding-top: 10px;
    }
    p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(86, 25, 87);
    }

    h2 {
    color: #4d0755;
    }

    

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #32204e;
        padding: 10px;
        text-align: center;
        }

        nav a {
        color: rgb(175, 161, 170);
        text-decoration: none;
        margin: 0 15px;
        font-size: 20px;
        }

        nav a:hover {
            text-decoration: underline}

     section {
                background-color: rgb(223, 191, 230);
                padding: 10px;
                margin: 10px auto;
                width: 80%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                
             }
    .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                
              }

     .box-example {
                width: 400px;
                padding: 20px;
                border: 2px solid #8d3c8d;
                margin: 30px auto;
                text-align: center;
                background-color: #d4add0;
                }

    .container {
                    display: flex;
                    justify-content: center; /* Aligns items horizontally */
                    align-items: center; /* Aligns items vertically */
                    height: 300px;
                    background-color: #f4f4f4;
                    }
                    .flex-item {
                    background: lightblue;
                    
                    padding: 20px;
                    margin: 10px;
                    }

    .grid-container {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 10px;
                        }
    .grid-item {
                        background: rgb(223, 191, 230);
                        padding: 10px;
                        text-align: center;
                        }
    footer {
                        position: fixed;
                        bottom: 0;
                        padding-bottom: 20px;

    }

    #btn{
        background-color: #b973b9;
        color: #310536;
    }

    #contactForm{
        padding-top: 50px;
    }

    #box{
        padding-bottom: 20px;
    }

    button{
        background-color: #b973b9;
        color: #310536;
    }

  
#fadeParagraph {
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}
